body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    background-color: #85b1af;
}

.navbar {
    width: 100%;
    background: #FBFFE4;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar nav {
    display: flex;
    justify-content: center;
}

.brand {
    font-weight: 700;
    font-size: 30px;
    color: black;
}

h1 {
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
}

.dashboard-container {
    max-width: 1200px;
    margin: 30px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th {
    background: #e9e9ec;
}

td, th {
    padding: 12px;
    text-align: center;
}

.action-dropdown {
    padding: 5px;
    border-radius: 8px;
}

.logout-btn {
    background: #E4De5F;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}