* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Comfortaa', sans-serif;
    line-height: 1.6;
    color: #2A3335;
    padding-top: 50px;
}

html {
    scroll-behavior: smooth;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}


h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}


.booking-btn {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    transition: 0.3s;
    background: #43817F;
    color: white;
    cursor: pointer;
    text-align: center;
    border: none;
}

.booking-btn:hover {
    background: white;
    color: #2A3335;
}

.submit-btn {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Comfortaa', sans-serif;
    transition: 0.3s;
    background: #43817F;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
}

.submit-btn:hover {
    background: white;
    color: #333;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #FBFFE4;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 100;
    padding: 15px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 45px;
    border-radius: 5px;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    position: relative;
    font-weight: 600;
    text-decoration: none;
    color: #43817f;
    transition: color 0.2s; 
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #1f2721;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}


.hero {
    height: 100vh;
    background: url('homebackground.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 5%;
    color: #3a3f41;
}

.hero h1 {
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 25px;
}


.about {
    background: #FBFFE4; 
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-text {
    max-width: 800px;
    margin: 0 auto 50px;
}

.about h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.team {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.team-member img {
    width: 140px;
    border-radius: 50%;
    margin-bottom: 10px;
}


.services {
    padding: 70px 0;
    text-align: center;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.service-card {
    border-radius: 15px;
    overflow: hidden;
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: transform 0.2s;
    padding-bottom: 20px;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.service-card h3 {
    margin: 15px 0 5px;
}

.service-card p {
    margin: 0 0 15px;
    font-weight: 600;
}


.booking {
    background: #E4DE5F;
    padding: 80px 0;
    text-align: center;
}

.booking-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}

.booking-form label {
    display: flex;
    flex-direction: column; 
    font-weight: 600;
    gap: 5px; 
}

.booking-form input,
.booking-form select,
.booking-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}


.contact {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    font-weight: 900;
    text-align: center;
    background: #FBFFE4;
}

.contact div {
    display: flex;
    align-items: center;
    gap: 80px;
}

.contact span {
    margin: 0 10px;
}
